<div class="bg-secondary py-2 my-3 rounded-4 shadow-sm">
  <div class="container">
    <ul class="nav justify-content-between text-white fw-semibold">

      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'studio' and request.resolver_match.app_name == 'ml' %}bg-white text-dark rounded-4{% else %}text-white{% endif %}" 
           href="{% url 'ml:studio' %}">
          Informacje
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'preprocess' in request.path %}bg-white text-dark rounded-4{% else %}text-white{% endif %}" 
           href="{% url 'ml:preprocess' %}">
          Preprocessing
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'models' in request.path %}bg-white text-dark rounded-4{% else %}text-white{% endif %}" 
           href="{% url 'ml:models' %}">
          Modele
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'run' in request.path %}bg-white text-dark rounded-4{% else %}text-white{% endif %}" 
           href="{% url 'ml:run_model' %}">
          Uruchom
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'visualize' in request.path %}bg-white text-dark rounded-4{% else %}text-white{% endif %}" 
           href="{% url 'ml:visualize' %}">
          Wizualizacja
        </a>
      </li>

    </ul>
  </div>
</div>